<ul class="cb-slideshow">
  <li><span>Image 01</span><div><h3></h3></div></li>
  <li><span>Image 02</span><div><h3></h3></div></li>
  <li><span>Image 03</span><div><h3></h3></div></li>
  <li><span>Image 04</span><div><h3></h3></div></li>
  <li><span>Image 05</span><div><h3></h3></div></li>
  <li><span>Image 06</span><div><h3></h3></div></li>
</ul>

<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>
<div class="container"> 
  <h1 style="font-size: 3.2em; color: white; padding: none; margin: none;">Forgot your password?</h1>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
  
    <section class="content bgcolor-5">
      <span class="input input--minoru">
        <%= f.input :email, class: "input__field input__field--yoko", required: true, autofocus: true %>
      </span>
      <div class="login_button">
        <%= f.button :submit, "Send instructions", class: "button button--ujarak button--border-thick button--text-upper button--size-s button--inverted button--text-thick" %>
      </div>
    </section>
  <% end %>

  <p class="links"><%= render "devise/shared/links" %></p>
</div>





