<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "The Spinoff Newsletter", defined?(root_path) ? root_path : "#", class: "navbar-brand logo" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if defined?(Devise) %>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Account", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, class: 'nav_links' %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: 'nav_links' %></li>
        <% end %>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="container">
  <h1 style="padding-top: 2.3em; padding-bottom: 0.4em; font-size: 3.4em;"><%= @spinoff.parent_name %></h1>
</div>
<div class="bg_dark">
<div class="row">
  <div class="col-md-8">
    <div id="container_parent" style="width:100%; height:400px;"></div>
  </div>
  <div class="col-md-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h2>Change</h2></th>
          <th><h2>Change In Percent</h2></th>
          <th><h2>Close</h2></th>
          <th><h2>Last Trade Price</h2></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @data[0].change %></td>  
            <td><%= @data[0].change_in_percent %></td>
            <td><%= @data[0].close %></td>
            <td><%= @data[0].last_trade_price %></td>
          </tr>
      </tbody>
      <thead>
        <tr>
          <th><h2>Bid</h2></th>
          <th><h2>Ask</h2></th>
          <th><h2>Last Trade Time</h2></th>
          <th><h2>Last Trade Date</h2></th>
        </tr>
      </thead>
      <tbody>
          <td><%= @data[0].bid %></td>
          <td><%= @data[0].ask %></td>
          <td><%= @data[0].last_trade_time %></td>
          <td><%= @data[0].last_trade_date %></td>
      </tbody>
      <thead>
        <tr>
          <th><h2>Price Per Sales</h2></th>
          <th><h2>Earnings Per Share</h2></th>
          <th><h2>Open</h2></th>
          <th><h2>Stock Exchange</h2></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @data[0].price_per_sales %></td>  
          <td><%= @data[0].earnings_per_share %></td>
          <td><%= @data[0].open %></td>
          <td><%= @data[0].stock_exchange %></td>
        </tr>
      </tbody>
        <thead>
          <tr>
            <th><h2>Bid Size</h2></th>
            <th><h2>Ask Size</h2></th>
            <th><h2>Average Daily Volume</h2></th>
            <th><h2>Dividend Pay Date</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @data[0].bid_size %></td>
            <td><%= @data[0].ask_size %></td>
            <td><%= @data[0].average_daily_volume %></td>
            <td><%= @data[0].dividend_pay_date %></td>
          </tr>
        </tbody>
    </table>    
  </div>
</div>

</div>
<div class="container">
  <h1 style="padding-top: 2.3em; padding-bottom: 0.4em; font-size: 3.4em;"><%= @spinoff.spinoff_name %></h1>
</div>
<div class="bg_dark">
<div class="row">
  <div class="col-md-8">
    <div id="container_spinoff" style="width:100%; height:400px;"></div>
  </div>
  <div class="col-md-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h2>Change</h2></th>
          <th><h2>Change In Percent</h2></th>
          <th><h2>Close</h2></th>
          <th><h2>Last Trade Price</h2></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @data[1].change %></td>  
            <td><%= @data[1].change_in_percent %></td>
            <td><%= @data[1].close %></td>
            <td><%= @data[1].last_trade_price %></td>
          </tr>
      </tbody>
      <thead>
        <tr>
          <th><h2>Bid</h2></th>
          <th><h2>Ask</h2></th>
          <th><h2>Last Trade Time</h2></th>
          <th><h2>Last Trade Date</h2></th>
        </tr>
      </thead>
      <tbody>
          <td><%= @data[1].bid %></td>
          <td><%= @data[1].ask %></td>
          <td><%= @data[1].last_trade_time %></td>
          <td><%= @data[1].last_trade_date %></td>
      </tbody>
      <thead>
        <tr>
          <th><h2>Price Per Sales</h2></th>
          <th><h2>Earnings Per Share</h2></th>
          <th><h2>Open</h2></th>
          <th><h2>Stock Exchange</h2></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @data[1].price_per_sales %></td>  
          <td><%= @data[1].earnings_per_share %></td>
          <td><%= @data[1].open %></td>
          <td><%= @data[1].stock_exchange %></td>
        </tr>
      </tbody>
        <thead>
          <tr>
            <th><h2>Bid Size</h2></th>
            <th><h2>Ask Size</h2></th>
            <th><h2>Average Daily Volume</h2></th>
            <th><h2>Dividend Pay Date</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @data[1].bid_size %></td>
            <td><%= @data[1].ask_size %></td>
            <td><%= @data[1].average_daily_volume %></td>
            <td><%= @data[1].dividend_pay_date %></td>
          </tr>
        </tbody>
    </table>    
  </div>
</div>

</div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>© Spinoff Newsletter - Designed &amp; Developed by<br> <a href="http://www.ajeanwebdev.com/">Ajean Web Dev</a> &amp; <a href="https://github.com/palmbeachjeff">Palm Beach Jeff</a></p>
          </div>
        </div>
      </div>
    </footer>

<script>
$(function () {
    $('#container_parent').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: '<%= @spinoff.parent_ticker %>'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            minRange: 14 * 24 * 3600000 // fourteen days
        },
        yAxis: {
            title: {
                text: 'Price'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[1]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[4]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: '<%= @spinoff.spinoff_ticker %>',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC(2010, 0, 1),
            data: <%= @data_history_p.collect { |c| c.close.to_f }.reverse %>
        }]
    });

$('#container_spinoff').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: '<%= @data[1].symbol %>'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' :
                    'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime',
            minRange: 14 * 24 * 3600000 // fourteen days
        },
        yAxis: {
            title: {
                text: 'Price'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                    stops: [
                        [0, Highcharts.getOptions().colors[2]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[1]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: '<%= @data[1].symbol %>',
            pointInterval: 24 * 3600 * 1000,
            pointStart: Date.UTC(2010, 0, 1),
            data: <%= @data_history_s.collect { |c| c.close.to_f }.reverse %>
        }]
    });
});
</script>







