<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "The Spinoff Newsletter", defined?(root_path) ? root_path : "#", class: "navbar-brand logo" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if defined?(Devise) %>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Account", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, class: 'nav_links' %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: 'nav_links' %></li>
        <% end %>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="container">
  <h1 style="padding-top: 2.3em; font-size: 3.4em;"><%= @data[0].name %></h1>
</div>
<div class="bg_dark">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><h3>Change</h3></th>
        <th><h3>Change &amp; Percent Change</h3></th>
        <th><h3>Change In Percent</h3></th>
        <th><h3>Close</h3></th>
        <th><h3>Last Trade Price</h3></th>
        <th><h3>Last Trade Time</h3></th>
        <th><h3>Ask</h3></th>
        <th><h3>Bid</h3></th>
        <th><h3>Last Trade Date</h3></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @data[0].change %></td>
          <td><%= @data[0].change_and_percent_change %></td>   
          <td><%= @data[0].change_in_percent %></td>
          <td><%= @data[0].close %></td>
          <td><%= @data[0].last_trade_price %></td>
          <td><%= @data[0].last_trade_time %></td>
          <td><%= @data[0].ask %></td>
          <td><%= @data[0].bid %></td>
          <td><%= @data[0].last_trade_date %></td>
        </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <h1 style="padding-top: 2.3em; font-size: 3.4em;"><%= @data[1].name %></h1>
</div>
<div class="bg_dark">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><h3>Change</h3></th>
        <th><h3>Change &amp; Percent Change</h3></th>
        <th><h3>Change In Percent</h3></th>
        <th><h3>Close</h3></th>
        <th><h3>Last Trade Price</h3></th>
        <th><h3>Last Trade Time</h3></th>
        <th><h3>Ask</h3></th>
        <th><h3>Bid</h3></th>
        <th><h3>Last Trade Date</h3></th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @data[1].change %></td>
        <td><%= @data[1].change_and_percent_change %></td>   
        <td><%= @data[1].change_in_percent %></td>
        <td><%= @data[1].close %></td>
        <td><%= @data[1].last_trade_price %></td>
        <td><%= @data[1].last_trade_time %></td>
        <td><%= @data[1].ask %></td>
        <td><%= @data[1].bid %></td>
        <td><%= @data[1].last_trade_date %></td>        
      </tr>
    </tbody>
  </table>
</div>

<div id="container" style="width:100%; height:400px;"></div>
<script> src="http://code.highcharts.com/highchart.js"
         src="app/assets/javascripts/interactivecharts.js"
         <script type="text/javascript">
         $(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }],
    });
});
</script>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>© Spinoff News Letter - Designed &amp; Developed by<br> <a href="http://www.ajeanwebdev.com/">Ajean Web Dev</a> &amp; <a href="https://github.com/palmbeachjeff">Palm Beach Jeff</a></p>
          </div>
        </div>
      </div>
    </footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/min/toucheffects-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/flickity.pkgd.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/retina.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/min/scripts-min.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<% javascript_tag 'charts.js' %>
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
<!-- <div id="container" style="height: 400px; min-width: 600px"></div>  


<script src="http://code.highcharts.com/stock/highstock.js"></script>  
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>  
<script type="text/javascript" src="http://www.highcharts.com/samples/data/three-series-1000-points.js"></script>​  

<script src="../Rails_projects/spinoffnewsletter/app/assets/javascripts/charts.js"></script> -->