<ul class="cb-slideshow">
  <li><span>Image 01</span><div><h3></h3></div></li>
  <li><span>Image 02</span><div><h3></h3></div></li>
  <li><span>Image 03</span><div><h3></h3></div></li>
  <li><span>Image 04</span><div><h3></h3></div></li>
  <li><span>Image 05</span><div><h3></h3></div></li>
  <li><span>Image 06</span><div><h3></h3></div></li>
</ul>

<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>

<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal form-user"}) do |f| %>                                                                                                                                     <section class="content bgcolor-5">
      <span class="input input--minoru">
        <%= f.text_field :login, class: "input__field input__field--yoko", html: {spellcheck: "false"} %>
        <%= f.label :login, "Email", class: "input__label input__label--yoko" %>
        </label>
      </span>
      <span class="input input--minoru">
        <%= f.password_field :password, class: "input__field input__field--yoko", html: {autocomplete: "off"} %>
        <%= f.label :password, class: "input__label input__label--yoko" %>
        </label>
      </span>
      <span class="input input--minoru">
        <%= f.submit "Login", class: "btn btn-block" %>
        <p><%= render "devise/shared/links" %></p>
        <% if devise_mapping.rememberable? -%>
          <p><%= f.label :remember_me, "Remember Me", class: "control-label col-md-4 form_text" %>
          <%= f.check_box :remember_me %></p>
        <% end -%>
      </span>
    </section>
  <% end %>
</div>